#equipo
    #equipo-flex
        display: flexbox
        display: flex
        flex-wrap: wrap
        justify-content: center
        margin: 30px auto

        .miembro
            text-align: center
            overflow: hidden
            padding: 0px
            margin: 5px
            max-width: 250px
            max-height: 450px
            min-width: 100px
            min-height: 150px
            padding: 20px
            transition: $transition
            border-radius: $border-radius

            img
                width: 100%
                margin-bottom: 10px

            .nombre
                display: block
                font-size: 100%
                font-family: $montserrat
                font-weight: bold


            .puesto
                display: block
                font-size: 80%
                color: #333

            &:hover
                transform: scale(1.05)
                box-shadow: $box-shadow2
                background-color: $yellow

            &:hover > .puesto, &:hover > .nombre
                transition: .1s
                color: white !important
