/* #btn-contacto */
#btn-contacto
    background-color: $black
    color: $white
    padding: 12px
    border-radius: 250px
    z-index: 99
    position: fixed
    bottom: 10px
    right: 10px
    cursor: pointer
    text-decoration: none !important
    box-shadow: $box-shadow
    animation-duration: 2s
    animation-delay: .5s
    font-family: $montserrat

    &:hover
        background-color: $yellow

    .label
        display: none

        @media (min-width: 600px)
            display: inline-block
            margin-left: -10px

/* .btn-1 */
.btn1, .btn1:visited, .btn1:active
    padding: 10px 42px
    background-color: $yellow
    color: $white
    cursor: pointer
    border-radius: 250px
    font-size: 110%
    transition: $transition
    border: 3px solid $yellow

    @media (max-width: 600px)
        padding: 5px 21px
        background-color: $yellow
        color: $white
        cursor: pointer
        border-radius: 250px
        font-size: 105%
        transition: $transition
        border: 3px solid $yellow


    &:hover, &:focus
        background-color: $black
        color: $white
        text-decoration: none !important
        border: 3px solid $black

/* #btn-contacto */
#btn-contacto
    background-color: $black
    color: $white
    padding: 12px
    border-radius: 250px
    z-index: 99
    position: fixed
    bottom: 10px
    right: 10px
    cursor: pointer
    text-decoration: none !important
    box-shadow: $box-shadow
    animation-duration: 2s
    animation-delay: .5s
    font-family: $montserrat

    &:hover
        background-color: $yellow

    .label
        display: none

        @media (min-width: 600px)
            display: inline-block
            margin-left: -10px

/* .btn-2 */
.btn2, .btn2:visited, .btn2:active
    padding: 10px 42px
    background-color: $blue
    color: $white
    cursor: pointer
    border-radius: 250px
    font-size: 110%
    transition: $transition
    border: 3px solid $blue

    @media (max-width: 600px)
        padding: 5px 21px
        background-color: $blue
        color: $white
        cursor: pointer
        border-radius: 250px
        font-size: 105%
        transition: $transition
        border: 3px solid $blue


    &:hover, &:focus
        background-color: $black
        color: $white
        text-decoration: none !important
        border: 3px solid $black
