/* #btn-contacto */
#btn-contacto
    background-color: $black
    color: $white
    padding: 12px
    border-radius: 250px
    z-index: 99
    position: fixed
    bottom: 10px
    right: 10px
    cursor: pointer
    text-decoration: none !important
    box-shadow: $box-shadow
    animation-duration: 2s
    animation-delay: .5s
    font-family: $montserrat

    @media (max-width: 600px)
        font-size: 80%

    &:hover
        background-color: $yellow

    .label
        display: none

        @media (min-width: 600px)
            display: inline-block
            margin-left: -10px

/* .btn1 */
.btn1, .btn1:visited, .btn1:active
    padding: 10px 42px !important
    background-color: $yellow !important
    color: $white !important
    cursor: pointer !important
    border-radius: 250px !important
    font-size: 110% !important
    transition: $transition !important
    border: 3px solid $yellow !important

    @media (max-width: 600px)
        padding: 7px 21px !important
        background-color: $yellow !important
        color: $white !important
        cursor: pointer !important
        border-radius: 250px !important
        font-size: 85% !important
        transition: $transition !important
        border: 3px solid $yellow !important


    &:hover, &:focus
        background-color: $black !important
        color: $white !important
        text-decoration: none !important
        border: 3px solid $black !important


/* .btn-2 */
.btn2, .btn2:visited, .btn2:active
    padding: 10px 42px
    background-color: $blue
    color: $white
    cursor: pointer
    border-radius: 250px
    font-size: 110%
    transition: $transition
    border: 3px solid $blue

    @media (max-width: 600px)
        padding: 250px 21px
        background-color: $blue
        color: $white
        cursor: pointer
        border-radius: 250px
        font-size: 105%
        transition: $transition
        border: 3px solid $blue

    &:hover, &:focus
        background-color: #0C0D19
        color: $white
        text-decoration: none !important
        border: 3px solid #0C0D19

/* .btn-3 */
.btn3, .btn3:visited, .btn3:active
    padding: 10px 42px
    background-color: $blue
    color: $white
    cursor: pointer
    border-radius: 250px
    font-size: 110%
    transition: $transition
    border: 3px solid $blue

    @media (max-width: 600px)
        padding: 250px 21px
        background-color: $blue
        color: $white
        cursor: pointer
        border-radius: 250px
        font-size: 105%
        transition: $transition
        border: 3px solid $blue

    &:hover, &:focus
        background-color: #0C0D19
        color: $white
        text-decoration: none !important
        border: 3px solid #0C0D19
