/* Footer */
#footer
    background-color: #ffffff
    margin-bottom: 0px
    padding: 10px
    text-align: center
    box-shadow: 0px -10px 30px 0px rgba(27,27,27,0.1)

    .brand
        font-family: $montserrat
        font-size: 140%

        strong
            color: $yellow
            font-weight: bold

    .social-icons
        text-align: center
        font-size: 140%
        margin-bottom: 0px

        @media (max-width: 600px)
            font-size: 120%

    // .facebook i
        color: #3b5998
        transition: $transition

    //    &:hover
            color: $yellow !important

    // .instagram i
        color: #8a3ab9
        transition: $transition

    //    &:hover
            color: $yellow !important

    //.github i
        color: #333
        transition: $transition

    //    &:hover
            color: $yellow !important

    .daltonic i
        animation-duration: 5s
        animation-iteration-count: infinite
        cursor: pointer

    .social-icons a
        color: $black
        transition: $transition
        cursor: pointer

        &:hover
            color: $yellow !important

    .list-inline
        padding-top: 3px
        padding-left: 0
        margin-left: -7px
        list-style: none
