/* Footer */
#footer
    padding: 50px 0
    padding-top: 70px
    background-color: $yellow
    font-family: $montserrat
    width: 100%

    .brand-content
        text-align: center

    .social-icons
        padding: 0px !important
        margin-left: -17px
        margin-top: 20px

        @media(max-width: 600px)
            margin-left: -3px

        li
            display: inline-block

            a
                color: $white
                font-size: 200%

                &:hover
                    color: $black

    .brand
        margin-bottom: 20px

    .footer-mail
        color: $white
        font-size: 90%
        font-weight: 300
        transition: $transition
        opacity: .9

        &:hover
            opacity: 1

    .footer-links
        padding-left: 0px !important

        li
            a
                color: $white
                font-size: 90%
                font-weight: 300
                transition: $transition
                opacity: .9

                &:hover
                    opacity: 1

            .active
                font-weight: 700
                opacity: 1

    @media(max-width: 990px)
        text-align: center

        .brand
            margin-top: 20px
            margin-bottom: 50px
            display: block
            margin: 0 auto
            width: 50%

        .non-important
            display: none
