#form
    input, textarea
        padding: 10px
        display: block
        margin-bottom: 20px
        background-color: #FAFAFA
        width: 100%
        max-width: 100%
        color: $black
        border: 0px
        border-bottom: 2px solid $black
        transition: $transition
        border-radius: 0px

        &:active, &:focus
            outline: none
            border-bottom: 2px solid $yellow

    textarea
        min-height: 100px
