/* Hero */
#hero
    width: 100%
    background-repeat: none !important
    background-color: $white
    background-image: url('../img/heroBG.svg')
    background-size: cover
    background-position: bottom left
    padding: 5px 20px 200px 20px
    margin-left: 0x
    animation-duration: 1s
    animation-delay: .5s
    margin-bottom: -10px
    min-height: 127vh
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    color: $white !important
    z-index: 10

    @media (max-width: 800px)
        padding: 5px 5px 80px 5px

    @media (max-width: 1000px)
        padding-top: 130px
        padding: 5px 10px 100px 10px

    .hero-content
        h1
            span
                font-weight: 700

        p
            font-weight: 300

    .hero-image
        display: block
        margin: 0 auto
        animation: floating 3s infinite
        animation-timing-function: ease-in-out

        @media(max-width: 800px)
            width: 60%
            margin-bottom: 20px

        @media(max-width: 550px)
            width: 80%
            margin-bottom: 20px
            animation: none !important


        @keyframes floating
            0%
                transform: translateY(-5px)

            50%
                transform: translateY(5px)

            100%
                transform: translateY(-5px)

    //.appear
        animation-name: appear
        animation-fill-mode: forwards
        animation-duration: 1s
        animation-delay: 1s

        @keyframes appear
            0%
                opacity: 0
                transform: scale(.8)

            100%
                opacity: 1
                transform: scale(1)

    .ctas
        font-family: $montserrat
        margin-top: 20px

        @media(max-width: 800px)
            margin: auto

        .btn1blur
            opacity: 1 !important

        span
            @media(max-width: 1000px)
                display: none

        .hero-link
            color: $white !important
            opacity: .85

            @media(max-width: 1000px)
                display: none

            &:hover
                opacity: 1

// Qué Hacemos? (Servicios)
#servicios
    background-color: $white
    margin: auto
    margin-top: 30px
    margin-bottom: 50px
    padding: 20px
    max-width: 80%
    z-index: 19

    @media(max-width: 1000px)
        max-width: 100%

    .text
        text-align: center
        max-width: 60%
        margin: 0 auto
        margin-bottom: 30px !important

        @media(max-width: 768px)
            max-width: 100%
            padding: 10px

        .title
            font-size: 280%

            @media(max-width: 1000px)
                font-size: 200% !important

            span
                font-weight: 700

    .row
        display: block
        text-align: center

        @media(min-width: 768px)
            display: flex
            align-items: center
            text-align: left

    .servicio
        width: 90%
        margin: 60px auto 0 auto!important
        font-family: $montserrat

        img
            max-width: 80%
            margin: 0 auto
            display: inline-block
            transition: $transition

            @media(max-width: 1000px)
                max-width: 100%

            @media(max-width: 768px)
                max-width: 50% !important

        .content
            text-align: left

            .title
                font-weight: 900 !important
                margin-bottom: 0px !important

            .description
                font-weight: 300

            .btn1
                margin-top: 0px !important

            @media(max-width: 768px)
                text-align: center !important

        .content-design
            text-align: right

    .servicio-web
        @media(max-width: 768px)
            margin-bottom: 70px

// MKT Block
.web-mkt
    background-color: #ffffff
    background-image: url('../img/MKT-Block-Space-BG.svg')
    background-repeat: no-repeat
    background-size: cover
    background-position: center

.mkt-block
    margin: 150px 0
    padding: 200px 0
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center

    @media(max-width: 768px)
        padding: 150px 0 !important

    .container
        width: 80%

    .row
        text-align: center

        //
            display: flex
            align-items: center
            text-align: center

        .title
            color: $white
            margin-bottom: 1px

            span
                font-weight: 700

        .description
            color: $white
            margin-bottom: 12px
            font-weight: 300

        .btn1blur

        .side-by-side-block
            max-width: 60%
            margin: 0 auto
            display: inline-block
            transition: $transition
            position: relative

            @media(max-width: 1000px)
                max-width: 100%

            @media(max-width: 768px)
                max-width: 35% !important

        .centered-block
            max-width: 15%
            margin: 0 auto
            display: block
            transition: $transition
            margin-bottom: 20px

            @media(max-width: 1000px)
                max-width: 25%

            @media(max-width: 800px)
                max-width: 50%

            @media(max-width: 768px)
                max-width: 35% !important

// About + Proyectos
#multi-item-section
    margin: 120px 0

    .row
        text-align: center
        display: block

        @media(min-width: 994px)
            display: flex
            align-items: center
            text-align: center

        .item
            padding: 0 20px

            img
                display: inline-block
                width: 40%

            .title
                margin-bottom: 1px

                span
                    font-weight: 700

            .description
                font-weight: 300

            .btn1blur

        .item-1
            @media(max-width: 990px)
                margin-bottom: 50px

#brand
    transition: $transition

    svg
        z-index: 100
        position: absolute
        top: 55px
        left: 20px
        height: 30px
        transition: $transition

        @media(min-width: 600px)
            top: 56px
            left: 72px

        .cls-1
            fill: $yellow !important
            transition: $transition

    &:hover
        .cls-1
            fill: $white !important
