.projects-section
    width: 100%
    padding: 70px 120px

    @media (max-width: 1180px)
        padding: 40px

    @media (max-width: 600px)
        padding: 20px


    // Project Cards
    .project-card
        background-color: $white
        padding: 0
        overflow: hidden
        border-radius: 5px
        transition: $transition
        z-index: 1
        margin: 15px 0px
        vertical-align: middle

        @media (max-width: 750px)
            margin: 40px 0px

        a, a:hover, a:visited, a:active, a:focus
            text-decoration: none !important
            color: $black

        .project-thumb
            width: 100%

        .project-info
            text-align: center
            padding: 10px

            .project-title
                font-size: 110%
                font-family: $montserrat



    // Project Modals
    .fade
        background-color: $yellow

    .modal-dialog
        margin-top: 50px
        margin-bottom: 50px

        @media (min-width: 1180px)
            width: 960px !important

        @media (max-width: 770px)
            margin-left: 25px !important

    .modal-content
        border-radius: 5px !important
        border: 0 !important
        box-shadow: $box-shadow2 !important
        text-align: justify

        .modal-logo
            text-align: center
            margin-top: 20px
            margin-bottom: 40px

            img
                display: inline-block
                width: 90%
                max-width: 400px

        .modal-img
            text-align: center
            margin-top: 20px
            margin-bottom: 40px

            img
                display: inline-block
                width: 80%
                max-width: 300px
                opacity: .8


    .modal-header
        border: 0 !important

        .close
            transition: $transition
            transform: scale(2)
            transform-origin: top right

            &:hover
                opacity: 1

        .modal-title
            font-weight: bold

    .modal-footer
        border: 0 !important
        padding-top: 0px !important
        padding: 40px
        text-align: center

// Section Colors
.projects-1
    background-color: $grey

// Hover Animations
.project-anim-1

    &:hover
        transform: scale(1.05) rotate(-1deg)
        box-shadow: $box-shadow
        z-index: 99 !important
        cursor: pointer

        @media (max-width: 750px)
            transform: scale(1.01) rotate(1deg)

.project-anim-2

    &:hover
        transform: scale(1.05) rotate(1deg)
        box-shadow: $box-shadow
        z-index: 99 !important
        cursor: pointer

        @media (max-width: 750px)
            transform: scale(1.01) rotate(-1deg)

// Micro-Contact
#micro-contact
    background-image: url('../img/Contacto/micro-contact.jpg')
    background-size: cover
    background-color: rgba(32,32,32,.6)
    background-blend-mode: overlay
    background-attachment: fixed
    color: $white !important

    h1
        font-size: 180%
