.projects-section
    width: 100%
    padding: 70px 120px

    @media (max-width: 1180px)
        padding: 40px

    @media (max-width: 600px)
        padding: 20px

    .project-card
        background-color: $white
        padding: 0
        overflow: hidden
        border-radius: 5px
        transition: $transition
        z-index: 1

        @media (max-width: 750px)
            margin: 40px 0px

        &:hover
            transform: scale(1.05) rotate(-1deg)
            box-shadow: $box-shadow
            z-index: 99 !important

            @media (max-width: 750px)
                transform: scale(1.01) rotate(1deg)

        .project-thumb
            width: 100%

        .project-info
            text-align: center
            padding: 10px

            .project-title
                font-size: 110%
                font-family: $montserrat

// Colors
.projects-1
    background-color: $grey

// Anim
.project-anim-1
    &:hover
