#main
    min-height: 100vh

    .header
        height: 100vh
        width: 100%
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        padding-top: 60px


        .icon
            width: 100%
            max-width: 350px
            max-height: 350px
            margin-bottom: 30px

        #design-icon
            @media (max-width: 600px)
                height: 270px

        .title
            font-size: 200%

            @media (max-width: 600px)
                font-size: 160%



            span
                font-size: 110%
                font-weight: 900
                color: $black

        .lead

            @media (max-width: 600px)
                font-size: 100%

    .section
        padding: 70px 120px

        @media (max-width: 1180px)
            padding: 40px

        @media (max-width: 600px)
            padding: 20px


        .title
            font-size: 160%

            @media (max-width: 600px)
                font-size: 130%

            span
                font-size: 110%
                font-weight: 900
                color: $black

        .author
            margin-top: -20px
            text-align: right
            font-weight: 300
            line-height: 0px

        .icon
            height: 200px
            margin-top: 30px

#micro-projects    
    background-color: $white
    
    .col-md-3 
        @media (max-width: 1200px)
            margin-bottom: 30px
        
        .lead
            text-align: justify
    
        .title
            margin-bottom: 30px !important
            @media (max-width: 1200px)
                margin-bottom: 10px !important
            
            b
                font-weight: 900
        
    .micro-project
        @media (max-width: 992px)
            margin-bottom: 30px
                
            
        .img
            border-radius: $border-radius
            transition: $transition
            
            &:hover
                transform: scale(1.05)
                box-shadow: $box-shadow
            
        .name
            font-weight: 900 !important
        
        .lead
            text-align: justify
            
            @media (max-width: 992px)
                display: none
                
    .micro-project-nonimportant
        @media (max-width: 992px)
                display: none