#main
    min-height: 100vh
    
    .header
        height: 100vh
        width: 100%
        text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        text-align: center
        padding-top: 60px
        
        
        .icon
            width: 100%
            max-width: 450px
            max-height: 380px
            
        #design-icon
            @media (max-width: 600px)
                height: 270px
            
        .title
            font-size: 200%
            
            @media (max-width: 600px)
                font-size: 160%
                
                
                
            span
                font-size: 110%
                font-weight: bold
                color: $yellow
                
        .lead
            font-size: 110%
            
            @media (max-width: 600px)
                font-size: 100%
                
    .section
        padding: 20px
            
        .title
            font-size: 160%
        
            @media (max-width: 600px)
                font-size: 130%
                
            span
                font-size: 110%
                font-weight: bold
                color: $yellow
        
        .author
            margin-top: -20px
            text-align: right
            font-weight: 300
            line-height: 0px
            
        .icon
            height: 141px
            margin-top: 30px
            
