/* Taxi Animation on index.html */
#taxi
    display: none

    @media (min-width: 1440px) and (max-width: 1450px) and (min-height: 710px) and (max-height: 720px)
        width: 120px
        z-index: 10
        position: absolute
        left: -120px
        bottom: 0px
        animation-name: taxi
        animation-duration: 10s
        animation-iteration-count: infinite
        animation-delay: 2s
        cursor: pointer
        display: block

        @keyframes taxi
            40%
                margin-left: 770px
            50%
                margin-left: 800px
            100%
                margin-left: 1590px
