@import url("https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans");
/* Selection */
::-moz-selection {
  text-shadow: none;
  background: #266FEF;
  color: #FFFFFF; }

::selection {
  text-shadow: none;
  background: #266FEF;
  color: #FFFFFF; }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

/* Basic Components */
body {
  background-color: #F4F8FF;
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #0A162B; }
  @media (max-width: 600px) {
    body {
      font-size: 16px; } }
  @media (min-width: 1500px) {
    body {
      font-size: 20px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: #266FEF;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in; }
  a:hover, a:active, a:visited {
    color: #0A162B;
    text-decoration: none; }

/* Menu */
.page-content {
  position: relative;
  z-index: 0;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out; }

.toggle {
  text-decoration: none;
  font-size: 130%;
  color: #FFFFFF;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  padding: 5px;
  background-color: #0A162B; }

.sidebar {
  position: fixed;
  left: -190px;
  top: 0px;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.5s ease-out;
  -o-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  width: 180px;
  padding: 30px;
  background: #0A162B;
  z-index: 0; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar li {
    margin-bottom: 16px; }
    .sidebar li hr {
      border-color: #FFFFFF; }
    .sidebar li a {
      color: rgba(255, 255, 255, 0.8);
      font-family: "Lato", "Helvetica Neue", sans-serif;
      font-size: 110%;
      margin: 0;
      margin-bottom: 16px;
      -webkit-font-smoothing: antialiased;
      cursor: pointer; }
    .sidebar li .menu-link {
      color: #FFFFFF;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in; }
      .sidebar li .menu-link:hover {
        color: #266FEF;
        text-decoration: none; }
    .sidebar li .menu-link-triangle {
      color: #FFFFFF;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      font-weight: bold;
      font-family: "Montserrat", "Helvetica Neue", sans-serif; }
      .sidebar li .menu-link-triangle:hover {
        color: #ffb61e;
        text-decoration: none; }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrap .toggle {
    left: 200px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  #sidebartoggler:checked + .page-wrap .page-content {
    opacity: 0.2; }

.btn1, .btn1:visited, .btn1:active {
  padding: 10px 42px;
  background-color: #266FEF;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 250px;
  font-size: 120%;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border: 3px solid #266FEF; }
  @media (max-width: 600px) {
    .btn1, .btn1:visited, .btn1:active {
      padding: 5px 21px;
      background-color: #266FEF;
      color: #FFFFFF;
      cursor: pointer;
      border-radius: 250px;
      font-size: 110%;
      -webkit-transition: 0.2s ease-in;
      -o-transition: 0.2s ease-in;
      transition: 0.2s ease-in;
      border: 3px solid #266FEF; } }
  .btn1:hover, .btn1:focus, .btn1:visited:hover, .btn1:visited:focus, .btn1:active:hover, .btn1:active:focus {
    background-color: #0A162B;
    color: #FFFFFF;
    text-decoration: none !important;
    border: 3px solid #0A162B; }

/* Taxi Animation */
#taxi {
  width: 150px;
  z-index: 10;
  position: relative;
  bottom: -264px;
  left: -185px;
  -webkit-animation-name: taxi;
          animation-name: taxi;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  cursor: pointer; }
@-webkit-keyframes taxi {
  40% {
    margin-left: 770px; }
  50% {
    margin-left: 800px; }
  100% {
    margin-left: 1590px; } }
@keyframes taxi {
  40% {
    margin-left: 770px; }
  50% {
    margin-left: 800px; }
  100% {
    margin-left: 1590px; } }
  @media (min-width: 1450px) {
    #taxi {
      display: none; } }
  @media (max-width: 1430px) {
    #taxi {
      display: none; } }

#form input, #form textarea {
  padding: 10px;
  display: block;
  margin-bottom: 20px;
  background-color: #fafafa;
  width: 100%;
  max-width: 100%;
  color: #0A162B;
  border: 0px;
  border-bottom: 2px solid #0A162B;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  border-radius: 0px; }
  #form input:active, #form input:focus, #form textarea:active, #form textarea:focus {
    outline: none;
    border-bottom: 2px solid #266FEF; }
#form textarea {
  min-height: 100px; }

/* index.html */
#hero {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  background-image: url("../img/City.svg");
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  padding: 120px 40px;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s; }
  @media (max-width: 600px) {
    #hero {
      padding-top: 100px; } }
  @media (max-width: 900px) {
    #hero {
      padding-top: 100px; } }
  #hero #logo {
    max-width: 450px;
    margin-bottom: 10px; }
    @media (min-width: 1300px) {
      #hero #logo {
        max-width: 500px; } }
  #hero .lead {
    font-size: 140%; }

#features {
  background-color: #266FEF;
  color: #FFFFFF;
  padding: 80px 144px;
  text-align: center; }
  @media (max-width: 1100px) {
    #features {
      padding: 40px; } }
  @media (max-width: 600px) {
    #features {
      padding: 20px; } }
  #features .title {
    display: block; }
    #features .title span {
      font-size: 70% !important;
      display: block;
      margin-bottom: 5px; }
  #features .feature .icon {
    font-size: 200%; }
  #features .feature .title {
    margin: 10px 0;
    font-family: "Merriweather", "Helvetica Neue", sans-serif;
    display: block; }
    #features .feature .title p {
      font-size: 90% !important;
      display: block; }

#recaudacion {
  background-color: #0A162B;
  color: #FFFFFF;
  padding: 80px 144px;
  text-align: center; }
  @media (max-width: 1100px) {
    #recaudacion {
      padding: 40px; } }
  @media (max-width: 600px) {
    #recaudacion {
      padding: 20px; } }
  #recaudacion .title {
    display: block; }
    #recaudacion .title span {
      font-size: 70% !important;
      display: block;
      margin-bottom: 5px; }
  #recaudacion .col-md-6 {
    text-align: justify; }

#analisis {
  background-color: #FFFFFF;
  color: #0A162B;
  padding: 80px 144px;
  text-align: center; }
  @media (max-width: 1100px) {
    #analisis {
      padding: 40px; } }
  @media (max-width: 600px) {
    #analisis {
      padding: 20px; } }
  #analisis .title {
    display: block; }
    #analisis .title span {
      font-size: 70% !important;
      display: block;
      margin-bottom: 5px; }
  #analisis .col-md-6 {
    text-align: justify; }

#estrategia {
  background-color: #266FEF;
  color: #FFFFFF;
  padding: 80px 144px;
  text-align: center; }
  @media (max-width: 1100px) {
    #estrategia {
      padding: 40px; } }
  @media (max-width: 600px) {
    #estrategia {
      padding: 20px; } }
  #estrategia .title {
    display: block; }
    #estrategia .title span {
      font-size: 70% !important;
      display: block;
      margin-bottom: 5px; }
  #estrategia .col-md-6 {
    text-align: justify; }

#clientes {
  background-color: #FFFFFF;
  color: #0A162B;
  padding: 80px 144px;
  text-align: center; }
  @media (max-width: 1100px) {
    #clientes {
      padding: 40px; } }
  @media (max-width: 600px) {
    #clientes {
      padding: 20px; } }
  #clientes .title {
    display: block; }
    #clientes .title span {
      font-size: 70% !important;
      display: block;
      margin-bottom: 5px; }
  #clientes .cliente {
    padding: 10px 30px; }
  #clientes .cliente-img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    cursor: pointer; }
    @media (max-width: 900px) {
      #clientes .cliente-img {
        -webkit-filter: grayscale(0%);
                filter: grayscale(0%); } }
    #clientes .cliente-img:hover, #clientes .cliente-img:focus {
      -webkit-filter: grayscale(0%);
              filter: grayscale(0%); }
  @media (max-width: 1200px) {
    #clientes .disappear {
      display: none; } }
  @media (max-width: 765px) {
    #clientes .disappear2 {
      display: none; } }

.paso-container {
  background-color: #FFFFFF;
  width: 100%;
  height: 100%;
  padding: 60px; }
  @media (max-width: 600px) {
    .paso-container {
      padding: 30px; } }
  .paso-container .icon {
    height: 141px;
    width: auto;
    margin-bottom: 20px;
    max-width: 100%; }
    @media (max-width: 900px) {
      .paso-container .icon {
        height: 100px; } }
  .paso-container .title {
    margin-top: 0px;
    margin-bottom: 30px; }
    .paso-container .title span {
      font-weight: bold; }
  .paso-container .lead {
    margin-top: 0px;
    margin-bottom: 51px; }

#contacto {
  padding: 80px 144px; }
  @media (max-width: 900px) {
    #contacto {
      padding: 40px; } }
  @media (max-width: 600px) {
    #contacto {
      padding: 20px; } }

#contacto {
  background-color: #0A162B; }
  @media (max-width: 1200px) {
    #contacto .form-column {
      margin-bottom: 50px; } }
  #contacto .lead {
    margin-bottom: 20px; }
  #contacto .contact-methods {
    list-style: none;
    margin-left: -40px; }
