// Fonts Import
@import url('https://fonts.googleapis.com/css?family=Merriweather|Montserrat|Open+Sans')

// Variables

// Colors
$primary: #F4F8FF
$accent: #266FEF
$black: #0A162B
$white: #FFFFFF

// Font-Size
$normal-size: 18px
$mobile-size: 16px
$big-size: 20px

//Font-Family
$primary-font: 'Lato', 'Helvetica Neue', sans-serif
$secondary-font: 'Merriweather', 'Helvetica Neue', sans-serif

$transition: .2s ease-in

/* Selection */
::-moz-selection
    text-shadow: none
    background: $accent
    color: $white

::selection
    text-shadow: none
    background: $accent
    color: $white

img::-moz-selection
    background: transparent

img::selection
    background: transparent

img::-moz-selection
    background: transparent

/* Basic Components */
body
    background-color: $primary
    overflow-x: hidden
    font-family: $primary-font
    font-size: $normal-size
    color: $black

    @media (max-width: 600px)
        font-size: $mobile-size

    @media (min-width: 1500px)
        font-size: $big-size

h1,h2,h3,h4,h5,h6
    font-family: $secondary-font

a
    text-decoration: none
    color: $accent
    transition: $transition

    &:hover, &:active, &:visited
        color: $black
        text-decoration: none

// Import Components
// Menu
@import 'menu.sass'
// Buttons
@import 'buttons.sass'
// Taxi
@import 'taxi.sass'
// Form
@import 'form.sass'

//Import Pages
@import 'index.sass'
