// Fonts Import
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat')

// Variables

// Colors
$primary: #F4F8FF
$accent: #266FEF
$black: #0A162B
$white: #FFFFFF

// Font-Size
$normal-size: 18px
$mobile-size: 16px
$big-size: 20px

//Font-Family
$primary-font: 'Lato', 'Helvetica Neue', sans-serif
$secondary-font: 'Montserrat', 'Helvetica Neue', sans-serif

$transition: .2s ease-in

body
    background-color: $primary
    overflow-x: hidden
    font-family: $primary-font
    font-size: $normal-size
    color: $black

    @media (max-width: 600px)
        font-size: $mobile-size

    @media (min-width: 1500px)
        font-size: $big-size

h1,h2,h3,h4,h5,h6
    font-family: $secondary-font

a
    text-decoration: none
    color: $accent
    transition: $transition

    &:hover, &:active, &:visited
        color: $black
        text-decoration: none

// Import _partials
// Menu
@import 'menu.sass'
// Buttons
@import 'buttons.sass'
// Taxi
@import 'taxi.sass'
// Form
@import 'form.sass'

/* index.html */
#hero
    width: 100%
    min-height: 100vh
    background-color: $white
    background-image: url('../img/City.svg')
    background-repeat: none
    background-size: cover
    background-position: bottom
    padding: 120px 40px
    animation-duration: 3s
    animation-delay: 2s

    @media (max-width: 600px)
        padding-top: 100px

    @media (max-width: 900px)
        padding-top: 100px

    #logo
        max-width: 450px
        margin-bottom: 10px

        @media (min-width: 1300px)
            max-width: 500px

    .lead
        font-size: 140%











.paso-container
    background-color: $white
    width: 100%
    height: 100%
    padding: 60px

    @media (max-width: 600px)
        padding: 30px

    .icon
        height: 141px
        width: auto
        margin-bottom: 20px
        max-width: 100%

        @media (max-width: 900px)
            height: 100px

    .title
        margin-top: 0px
        margin-bottom: 30px

        span
            font-weight: bold

    .lead
        margin-top: 0px
        margin-bottom: 51px

#contacto
    padding: 80px 144px

    @media (max-width: 900px)
        padding: 40px

    @media (max-width: 600px)
        padding: 20px

#contacto
    background-color: $black

    @media (max-width: 1200px)
        .form-column
            margin-bottom: 50px

    .lead
        margin-bottom: 20px

    .contact-methods
        list-style: none
        margin-left: -40px
