@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat");
body {
  background-color: #F4F8FF;
  overflow-x: hidden;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-size: 18px;
  color: #0A162B; }
  @media (max-width: 600px) {
    body {
      font-size: 16px; } }
  @media (min-width: 1500px) {
    body {
      font-size: 20px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", sans-serif; }

/* Menu */
.page-content {
  position: relative;
  z-index: 0;
  transition: 0.5s ease-out; }

.toggle {
  text-decoration: none;
  font-size: 130%;
  color: #FFFFFF;
  transition: 0.5s ease-out;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
  cursor: pointer;
  padding: 5px;
  background-color: #0A162B; }

.sidebar {
  position: fixed;
  left: -190px;
  top: 0px;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-out;
  width: 180px;
  padding: 30px;
  background: #0A162B;
  z-index: 0; }
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .sidebar li {
    margin-bottom: 16px; }
    .sidebar li hr {
      border-color: #FFFFFF; }
    .sidebar li a {
      color: rgba(255, 255, 255, 0.8);
      font-family: "Lato", "Helvetica Neue", sans-serif;
      font-size: 110%;
      margin: 0;
      margin-bottom: 16px;
      -webkit-font-smoothing: antialiased;
      cursor: pointer; }
    .sidebar li .menu-link {
      color: #FFFFFF;
      transition: 0.2s ease-in; }
      .sidebar li .menu-link:hover {
        color: #266FEF;
        text-decoration: none; }
    .sidebar li .menu-link-triangle {
      color: #FFFFFF;
      transition: 0.2s ease-in;
      font-weight: bold;
      font-family: "Montserrat", "Helvetica Neue", sans-serif; }
      .sidebar li .menu-link-triangle:hover {
        color: #ffb16e;
        text-decoration: none; }

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .page-wrap .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .page-wrap .toggle {
    left: 200px;
    transform: rotate(360deg); }
  #sidebartoggler:checked + .page-wrap .page-content {
    opacity: 0.1; }

.btn1, .btn1:visited, .btn1:active {
  padding: 10px 42px;
  background-color: #266FEF;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 250px;
  font-size: 120%;
  transition: 0.2s ease-in; }
  @media (max-width: 600px) {
    .btn1, .btn1:visited, .btn1:active {
      padding: 5px 21px;
      background-color: #266FEF;
      color: #FFFFFF;
      cursor: pointer;
      border-radius: 250px;
      font-size: 110%;
      transition: 0.2s ease-in; } }
  .btn1:hover, .btn1:focus, .btn1:visited:hover, .btn1:visited:focus, .btn1:active:hover, .btn1:active:focus {
    background-color: #0A162B;
    color: #FFFFFF;
    text-decoration: none !important; }

/* Taxi Animation */
#taxi {
  width: 150px;
  z-index: 10;
  position: relative;
  bottom: -265px;
  left: -185px;
  animation-name: taxi;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  cursor: pointer; }
@keyframes taxi {
  40% {
    margin-left: 770px; }
  50% {
    margin-left: 800px; }
  100% {
    margin-left: 1590px; } }
  @media (min-width: 1450px) {
    #taxi {
      display: none; } }
  @media (max-width: 1430px) {
    #taxi {
      display: none; } }

/* index.html */
#hero {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
  background-image: url("../img/City.svg");
  background-repeat: none;
  background-size: cover;
  background-position: bottom;
  padding: 120px 40px;
  animation-duration: 3s;
  animation-delay: 2s; }
  @media (max-width: 600px) {
    #hero {
      padding-top: 100px; } }
  @media (max-width: 900px) {
    #hero {
      padding-top: 100px; } }
  #hero #logo {
    max-width: 450px;
    margin-bottom: 10px; }
    @media (min-width: 1300px) {
      #hero #logo {
        max-width: 500px; } }
  #hero .lead {
    font-size: 140%; }

/*# sourceMappingURL=main.css.map */
